# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=bookmyshow_db
DB_USER=root
DB_PASSWORD=your_password

DATABASE_URL="mysql://root:QbGTPbRcyPQBLAjuXiPtTijxkeBUjoRP@mysql.railway.internal:3306/railway"

# Server Configuration {development/production}
PORT=3000
NODE_ENV=development

# Session Configuration --> have to generate always using the code saved in railway db txt file
SESSION_SECRET="fdb7d09ff3221f9203952babf9ad9195b715a9db4ecdefa30ad8c0e9e98359e5"

# Logging Configuration
LOG_LEVEL=info
LOG_FILE=app.log

# CORS Configuration  --> vercel domain link which is deployed 
FRONTEND_URL=https://book-my-show-azure-seven.vercel.app/

# Seat Blocking Configuration
SEAT_BLOCK_DURATION_MINUTES=5

# Application Configuration
API_VERSION=v1